@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Josefin+Sans:wght@100&family=Lato:ital,wght@1,100&family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.App {
  text-align: center;
  /* background: black; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  opacity: 0.9;
  font-size: 3vw;
  margin: 20px;
  letter-spacing: 2vw;
}

/* .TextField{
  color: white;
  background-color: none;
  box-sizing: border-box;
  border: 1px white;
  border-radius: 25px;
  padding: 12px 20px;
} */

input[type="text"],
textarea {
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  background-color: none;
  box-sizing: border-box;
  border: 1px white;
  border-radius: 25px;
  padding: 12px 20px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255, 0.2);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.loading {
  width: 10vw;
  margin-top: 8vh;
  align-self: center;
}